# Core numerical stack
numpy==1.26.4
scipy==1.11.4

# Computer Vision
opencv-python==4.9.0.80

# Image processing
scikit-image==0.22.0

# Visualization / GUI
PyOpenGL==3.1.7
PySDL2==0.9.16


# Optimization (g2o bindings)
g2o-python==0.0.12

# Utility
tqdm==4.66.1